@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
$font: "Roboto", sans-serif;
$primary-color: #222222;
$lighter-primary-color: #444444;
$secondary-color: #007ced;
$aluxury-color: #797979;
$text-color: #adadad;
$light-color: #fff;
