@media screen and (max-width: 1023px) {
  #nav_bar {
    padding: 0.5rem 1rem;
  }
  .about_content {
    .disc {
      width: 100%;
    }
  }
  .p3 {
    padding: 3rem 1rem 1rem 1rem;
  }

  .px-4 {
    padding: 0 1rem;
  }
  #skills {
    .flex_container {
      flex-wrap: wrap;
      .list {
        width: 100%;
      }
      .side_img {
        display: none;
      }
    }
  }

  .section_info {
    max-width: 100%;
  }

  #projects {
    .project {
      width: 100%;
      margin-bottom: 20px;
      border-left: none;
      border-right: none;
      flex-direction: column;

      .disc,
      .photo {
        width: 100%;
        .img_wrapper::after {
          display: none;
        }
      }
      .photo {
        order: -1;
        margin-bottom: 10px;
        img {
          box-shadow: 1px 10px 15px 1px lighten($primary-color, 60%);
        }
      }

      .disc {
        margin: 0;
        .project_title {
          margin: 10px 0 5px 0;
        }
        .project_links {
          flex-wrap: wrap;
          a {
            width: 100%;
            text-align: center;
            margin-top: 10px;
          }
        }
      }

      &:first-of-type {
        margin-top: 10px;
      }
    }
  }

  #contact {
    padding-bottom: 2rem;
    h3 {
      font-size: 1rem;
    }
  }
}
