@media screen and (max-width: 1024px) {
  #nav_bar {
    padding: 0.5rem 1rem;
  }
  .about_content {
    .disc {
      width: 100%;
    }
  }
  .p3 {
    padding: 3rem 1rem 1rem 1rem;
  }

  .px-4 {
    padding: 0 1rem;
  }
  #skills {
    .flex_container {
      overflow: hidden;
      margin-left: -1rem;
    }
    .card {
      padding: 0 0 2rem 0;
      min-width: 100vw;
      max-width: 100vw;
      border-right: none;
      .list {
        flex-wrap: wrap;
        li img {
          margin: 0 1rem;
        }
      }
    }
  }

  #projects .project {
    width: 100%;
    margin-bottom: 1rem;
    border-left: none;
    border-right: none;
    &:nth-child(even) {
      border-top: none;
      border-left: none;
    }
    &:nth-child(odd) {
      border-right: none;
    }
  }
  #contact {
    padding-bottom: 2rem;
    h3 {
      font-size: 1rem;
    }
  }
}
