@media screen and (min-width: 767px) and (max-width: 1024px) {
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  section,
  #about,
  #nav_bar a,
  #contact h3 {
    font-size: 1rem * 1.6;
    max-width: 1024px;
  }
  #about,
  section .px-4 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
