@import "config";

// Utility Classes
body {
  background: #222222;
}

.bg_dark {
  color: #797979;
}

.bg_blue {
  color: #fff;
  background: #007ced;
}

.first_word {
  color: #fff;
  font-weight: bold;
}

.text {
  color: rgb(173, 173, 173);
}
.text_white {
  color: #fff;
}

.bg_light {
  background: #fff;
  color: #333;
}

.small_header {
  letter-spacing: 1px;
  font-size: 16px;
}
.big_header {
  font-size: 2.5rem;
  color: #fff;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
}

.link_disabled {
  pointer-events: none;
  cursor: default;
  color: rgba(#007ced, 0.4);
}

.text_link {
  color: #007ced;
}

.icon_bg {
  background: #fff;
  padding: 0.5rem;
  border-radius: 5px;
}

.list_header {
  font-size: 1.3rem;
}

.btn {
  border: 2px solid #007ced;
  color: #fff;
  border-radius: 20px;
  padding: 0.7rem 2rem;
  transition: all 0.3s ease;
  background: transparent;
  cursor: pointer;
  &:hover {
    background: #007ced;
  }
}

.section_header {
  position: relative;
  padding-bottom: 1rem;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: #007ced;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #444444;
  }
}

// Navigation

#nav_bar,
#nav_bar .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;
  z-index: 100;
  background: #222222;
  .logo {
    display: flex;
    align-items: center;
    .letter {
      padding: 0.8rem;
      font-size: 1.4rem;
      border-radius: 50%;
      font-weight: bold;
    }
    .header_logo {
      font-weight: 100;
      font-size: 1.2rem;
    }
  }
  .links {
    .link {
      padding: 1.5rem 2rem;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      transition: all 0.4s ease;
      height: 100%;
      position: relative;
      z-index: 2;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skewX(-30deg);
        height: 100%;
        width: 0%;
        background: #007ced;
        opacity: 0;
        transition: all 0.4s ease;
        z-index: -1;
      }

      &:hover {
        color: #fff;

        &::after {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }
}
.about {
  width: 100%;
}
.about_content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .photo {
    padding: 2rem;
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    border: 15px solid #444444;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px 5px rgba(#000, 0.75);
    img {
      width: 100%;
      border-radius: 50%;
      position: relative;
      top: -30px;
    }
  }
  .disc {
    width: 50%;
    text-align: center;
  }
}

#skills {
  .flex_container {
    flex-direction: column;
  }
  .card {
    width: 100%;
    padding-bottom: 4rem;
    text-align: center;
  }
  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    li img {
      height: 60px;
      min-width: 60px;
      max-width: 150px;
      margin: 0 2rem;
    }
  }
}

#projects {
  .project {
    width: 50%;
    border: 2px solid #007ced;
    position: relative;
    display: flex;
    flex-direction: column;
    &:nth-child(even) {
      border-left: 1px solid #007ced;
      border-right: none;
    }
    &:nth-child(odd) {
      border-right: 1px solid #007ced;
      border-left: none;
    }
    &:nth-child(1n + 3) {
      border-top: none;
    }

    &::before {
      content: attr(aria-label);
      position: absolute;
      text-align: center;
      background: #007ced;
      color: #fff;
      transition: all 0.3s ease;
      font-size: 1.5rem;
      z-index: 2;
      width: 100%;
      opacity: 0;
    }
    .photo {
      position: relative;
      img {
        width: 100%;
      }
      .technologies {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.2s ease;
        z-index: 2;
        .technologie {
          padding: 0.3rem;
          background: #525151;
          border-radius: 5px;
          font-size: 1rem;
          margin: 5px;
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(#000, 0.8);
        opacity: 0;
        transition: all 0.2s ease;
        z-index: 1;
      }
    }
    .disc {
      flex-grow: 1;
      position: relative;
      display: flex;
      flex-direction: column;
    }
    .project_links {
      position: relative;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      i {
        transition: all 0.3s ease;
        &:hover {
          color: rgba(#007ced, 0.4);
        }
      }
      font-size: 2rem;
      color: #007ced;
    }
    &:hover {
      &::before {
        opacity: 1;
      }
      .photo .technologies {
        opacity: 1;
      }
      .photo::after {
        opacity: 1;
        height: calc(100% - 4px);
      }
    }
  }
}

#contact {
  .flex_container {
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  form {
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
    .field {
      margin-bottom: 20px;
      position: relative;
      .label {
        color: #fff;
        position: absolute;
        transform: translateY(1rem);
        transform-origin: 0%;
        left: 0;
        z-index: -1;
        padding: 0 1rem;
        transition: all 0.3s ease;
      }
      .input {
        width: 100%;
        border-radius: 10px;
        border: 2px solid #797979;
        background: transparent;
        padding: 1rem;
        resize: none;
        margin-bottom: 20px;
        position: relative;
        transition: all 0.3s ease;
        outline: #007ced;
        &:focus {
          border: 2px solid #007ced;
        }
      }
      &:focus-within .label,
      .input:not(:placeholder-shown) + .label {
        transform: scale(0.8) translate(-1rem, -2rem);
      }
    }
    button {
      float: right;
    }
  }
}
