@import "config";
@import "utilities";

// Utility Classes
body {
  background: $primary-color;
}

.text_white {
  color: $light-color;
}

.bg_dark {
  color: $aluxury-color;
}

.bg_light {
  background: $light-color;
}

.bg_blue {
  @extend .text_white;
  background: $secondary-color;
}

.first_word {
  @extend .text_white;
  font-weight: bold;
}

.text {
  color: $text-color;
}

.small_header {
  letter-spacing: 1px;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
}

.link_disabled {
  pointer-events: none;
  cursor: default;
  color: rgba($secondary-color, 0.4);
}

.text_link {
  color: $secondary-color;
}

.icon_bg {
  @extend .bg_light;
  padding: 0.5rem;
  border-radius: 5px;
}

.list_header {
  font-size: 1.3rem;
}

@mixin border($color: $secondary-color) {
  border: 2px solid $color;
}

.btn {
  @extend .text_white;
  @include border();
  border-radius: 20px;
  padding: 0.7rem 3rem;
  transition: all 0.3s ease;
  background: transparent;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  margin-right: 10px;
  &:hover {
    background: $secondary-color;
  }

  &:disabled {
    color: $text-color;
  }
}

.btn_light {
  @include border($aluxury-color);
  &:hover {
    background: $aluxury-color;
  }
}

.btn_dark {
  @extend .btn;
  color: $light-color;
  background: $secondary-color;
  &:hover {
    background: transparent;
    color: $primary-color;
  }
}

.btn_code {
  @extend .btn;
  @include border($primary-color);
  color: $primary-color;
  &:hover {
    background: $primary-color;
    color: $light-color;
  }
}

.container {
  margin: 0;
}
.section_header {
  position: relative;
  padding-bottom: 1rem;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: $secondary-color;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $lighter-primary-color;
  }
}

// Navigation

#nav_bar,
#nav_bar .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;
  z-index: 100;
  background: $primary-color;
  .logo {
    display: flex;
    align-items: center;
    .letter {
      padding: 0.8rem;
      border-radius: 50%;
      font-weight: bold;
    }
    .header_logo {
      font-weight: 100;
    }
  }
  .links {
    .link {
      padding: 1.5rem 2rem;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      transition: all 0.4s ease;
      height: 100%;
      position: relative;
      z-index: 2;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skewX(-30deg);
        height: 100%;
        width: 0%;
        background: $secondary-color;
        opacity: 0;
        transition: all 0.4s ease;
        z-index: -1;
      }

      &:hover {
        @extend .text_white;
        &::after {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }
}
.about {
  width: 100%;
}
.about_content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .photo {
    @extend .bg_light;
    padding: 2rem;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 15px solid $lighter-primary-color;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px 5px rgba(#000, 0.75);
    img {
      width: 100%;
      border-radius: 50%;
      position: relative;
      top: -30px;
    }
  }
  .disc {
    width: 50%;
    text-align: center;
  }
}

#skills {
  padding-bottom: 2rem;
  position: relative;
  .flex_container {
    overflow: hidden;
    flex-wrap: initial;
    position: relative;
  }
  .list {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 50%;
    flex-wrap: wrap;
    li {
      width: 50%;
      display: flex;
      align-items: center;
      .skill_title {
        margin-left: 10px;
      }
    }
    li img {
      height: 30px;
      width: 30px;
      margin: 0 10px;
    }
  }
  .side_img {
    width: 50%;
    min-height: 400px;
    background: url("../img/computer.jpg") center center/cover no-repeat;
  }
}

#projects {
  background: #fff;
  .project {
    width: 100%;
    position: relative;
    display: flex;
    margin: 30px 0 60px 0;
    border-radius: 15px;
    .photo {
      position: relative;
      width: 50%;
      z-index: 2;
      .img_wrapper {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: -30px;
          left: -30px;
          width: 100%;
          height: 100%;
          background: lighten($secondary-color, 10%);
          z-index: 1;
          border-radius: 15px;
        }
      }

      img {
        width: 100%;
        border-radius: 15px;
        position: relative;
        z-index: 2;
        box-shadow: 3px 3px 6px 1px lighten($primary-color, 50%);
      }
    }
    .disc {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 50%;
      .project_title {
        font-size: 2rem;
        margin-bottom: 30px;
      }
      .technologies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transition: all 0.2s ease;
        .technologie {
          padding: 0.5rem 0.3rem;
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
        }
      }
    }
    .project_links {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 1.1rem;
      color: $secondary-color;
    }

    &:first-of-type {
      margin-top: 100px;
    }
  }
}

#contact {
  padding-bottom: 5rem;
  .flex_container {
    align-items: center;
    width: 100%;
    justify-content: center;
    form .btn {
      margin-right: 20px;
    }
  }
}

#footer {
  border-top: 2px solid $aluxury-color;
  span {
    float: right;
    padding: 1rem;
  }
}

@import "mobile";
@import "tablet";
